/* Стили для вкладок */
.tabs {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

/* Стили кнопок вкладок */
.btn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Стили активной вкладки */
.btn.active {
    background-color: #f0f0f0;
}

/* Скрытие содержимого вкладок */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
